


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar CSS */

.navbar{
     top:0; 
     margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    padding:10px 10px;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);

}
.navbar h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.navbar ul{
    list-style-type: none;
    display:inline-flex;
    margin-bottom:50px;
    margin-right: 40px;
    font-size: 20px;
   
   
}
.navbar ul li{
   margin:30px;
   text-decoration: none;
}
.navbar ul li a{
    margin-bottom: 20px;
    padding: 10px 0;
    justify-content: center;
    position: relative;
    top: -10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.logo{
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
/* Places CSS */

.places{
    width:100%;
    border: 1px solid black;
    border-radius: 2px;
}
.places ul{
list-style-type: none;
display:flex;
flex-wrap: row;
}
.places ul li{
    display: flex;
  
}



/* Card CSS */
.card{
    width: 300px;
    padding:10px 45px;
    border:1px solid lightgray;
    border-radius: 14px;
    margin: 10px;
    display: inline-block;

}
.img-bg{
    border-radius: 14px;
    width:100%;
    
}
.button{
text-align: center;
padding: 5px 10px;
height: 40px;
width: 100px;
border: none;
background-color: yellow;
border-radius: 14px;
margin-left: 90px;
color: black;
}
.button:hover{
color: rgb(255, 255, 255);
transition: 0.5s;
background-color: blueviolet;
}
.btn{
   width:90px;
   color:rgb(0, 0, 0);
   background-color: whitesmoke;
   height: 40px;
   position:relative;
   top: 14px;
   border:1px solid lightgray;
   border-radius: 14px;
}
.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}